* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: 'Roboto Slab', serif;
}

.filter {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-image: linear-gradient(to right, #00d4ff, #be52de, #d95cd1);
	z-index: 1;
	opacity: .9;
}

h1 {
	text-align: center;
	top: 20%;
}

table {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	/*height: 200px;*/
	border-spacing: 0;
	border-radius: 10px 10px 5px 5px;
	overflow: hidden;
	box-shadow: 0 5px 12px rgb(32,32,32,..3);
	background-color: #fff;
	text-align: center;
}

th,td {
	padding: 12px 15px;

}

th {
	background-color: #E170E6;
	color: #fafafa;
	text-transform: uppercase;
}